@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .selectMenuList {
    display: block;
  }
  .selectMenuListMd {
    display: none;
  }
  .selectMenuListSm {
    display: none;
  }
}
@media screen and (max-width: 1024px) and (min-width: 550px) {
  .selectMenuList {
    display: none;
  }
  .selectMenuListMd {
    display: block;
  }
  .selectMenuListSm {
    display: none;
  }
}
@media only screen and (max-width: 550px) {
  .selectMenuList {
    display: none;
  }
  .selectMenuListMd {
    display: none;
  }
  .selectMenuListSm {
    display: block;
  }
}
@media only screen and (min-width: 1300px) {
  .selectMenuList {
    display: none;
  }
  .selectMenuListMd {
    display: block;
  }
  .selectMenuListSm {
    display: none;
  }
}
